<%- include("partials/header") -%>
<h1><%= post.postName %></h1>
<p><%= post.postDesc %></p>

    <button  id="delete" >delete</button>  

<a href="/posts/update/<%= post.id %>"><button>update</button></a>

<script>
  document.getElementById('delete').addEventListener('click', function() {
    if (confirm('Are you sure you want to delete this post?')) {
      fetch("/posts/<%- post.id %>",{
        method:'DELETE'
      })
      window.location.href = "/posts";
    }
  });
 
</script>
<%- include("partials/footer") %>
