<%- include("partials/header") -%>
<h1>update</h1>
<form action="/posts/update/<%= post.id %>" method="post">
  <div class="form-group">
    <label for="as">title </label>
    <input
      id="as"
      type="text"
      class="form-control"
      name="postName"
      value="<%= post.postName %>"
    />
  </div>
  <div class="form-group">
    <label for="ps">post </label>
    <textarea
      id="ps"
      name="postDesc"
      cols="30"
      rows="10"
      class="form-control"
    >
    <%= post.postDesc %>
</textarea
    >
  </div>

  <button
    class="btn btn-primary"
    type="submit"
  >
    update
  </button>
</form>
<%- include("partials/footer") -%>
